.survey-container {
    background-color: rgba(255, 255, 255, 0.95); /* полупрозрачный белый цвет */
    border-radius: 10px; /* закругленные углы */
    padding: 20px; /* внутренние отступы */
    margin: 20px 0; /* отступы сверху и снизу */
    text-align: center; /* центрирование текста */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* теневой эффект */
    backdrop-filter: blur(4px);  /* блюр */
}
