.question-border {
    position: relative;
    border: 1px inset #000;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-top: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.question-wording {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    margin-left: 25px;
    white-space: normal; /* Позволяет переносить текст на новую строку */
    word-wrap: break-word; /* Переносит длинные слова, если они не помещаются */
    overflow-wrap: break-word; /* Добавляет дополнительный перенос слов при необходимости */
    width: 80%; /* Задает ширину элемента, можно настроить по необходимостям */
}

/* .radio-value, .checkbox-value {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    align-items: center;
} */









