.questions-list {
    padding: 20px 0 20px 40px;
}

.question-container-default {
    border: 2px solid black;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    width: 500px;
}

.question-container {
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    width: 500px;
    margin-bottom: 15px;
}

.question-h3, .option-item {
    word-wrap: break-word;
    hyphens: auto;
    display: block;
}

.option {
    display: flex;
}

.optionText {
    display: block;
    width: 80%;
}

.option-img {
    margin-top: 5px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
}
