.questions-list {
    padding: 20px 0 20px 40px;
    border-radius: 0 0 10px 10px;
}

.question-container-default {
    border: 2px solid black;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    width: 90%;
}

.question-container{
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 15px;
}
/* 
.question-h3-theme1,
.question-type-p-theme1 {
    -webkit-text-stroke: 1px #0c0c0c;
    color: #ffffff;
}

.question-container-theme2 {
    border: 2px solid white;
    outline: 2px solid black;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    width: 90%;
}

.question-h3-theme2,
.question-type-p-theme2 {
    color: white;
}
 */
