.info-box {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    width: 60%;
    margin: 20px auto;
}

.WelcomeText {
    margin-top: 100px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 6em;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.WelcomeButton-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.WelcomeTransparent-btn {
    background: transparent;
    color: gray;
    border: 1px solid transparent;
    padding: 16px 24px;
    font-size: 1.25em;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 10px;
}

.WelcomeTransparent-btn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.WelcomeWhite-btn {
    background: white;
    color: black;
    border: 1px solid transparent;
    padding: 16px 24px;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    width: auto;
}

.WelcomeWhite-btn:hover {
    background-color: gray;
    color: white;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .WelcomeText {
        font-size: 3.5em;
    }

    .WelcomeButton-container {
        top: 10px;
        right: 10px;

        align-items: flex-end;
    }

    .WelcomeTransparent-btn,
    .WelcomeWhite-btn {
        padding: 5px 5px;
        font-size: 1em;
    }

}
