.color-panel {
    display: flex;
    align-items: center;
}

.color-input {
    border: none; /* Убирает рамку */

    height: 40px; /* Высота input */
}

.color-hex {
    margin-left: 10px; /* Отступ между input и текстом */
    font-size: 16px; /* Размер шрифта */
    color: #000; /* Цвет текста */
}

.name-selector{
    margin-right: 10px; /* Отступ между input и текстом */
    font-size: 16px; /* Размер шрифта */
    color: #000; /* Цвет текста */
    width: 100px;
}