.radio-label {
    display: flex;
    padding: 5px 0;
    font-size: 20px;
    cursor: pointer;
}

.custom-radio {
    opacity: 0;
}

.radio-value {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 50px;
    border-radius: 20px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.radio-value::before {
    content: "";
    position: absolute;
    left: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid;
    outline: 0 solid;
    transition: 0.1s;
}

.custom-radio:checked~.radio-value {
    border-width: 5px;
}

.radio-value:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.custom-radio:checked~.radio-value::before {
    outline-width: 5px;
    /* background: #fff; */
}