.dropzone {
  background-color: lightgray;
  padding: 20px;
  width: 300px;
  min-height: 100px;
}

.move-box {
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
