.export-modal {
    display: flex;
    flex-grow: 1;
}

.export-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.export-buttons button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
