.create-survey-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.create-survey-button:hover {
    background-color: #45a049;
}

.my-surveys-container {
    padding-left: 10%;
    padding-right: 10%;
}
