.question-item {
    display: flex;
    /* margin-bottom: 15px; */
}

.question-item:hover .question-buttons button {
    opacity: 1;
    /* background: #a69e9e; */
}

.add-question-button,
.save-survey-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px;
    margin-top: 10px;
}

.add-question-button:hover,
.save-survey-button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.save-survey-button {
    background-color: #007bff;
}

.save-survey-button:hover {
    background-color: #0056b3;
}


.BuilderSurvey {
    padding-top: 10%;
    display: flex; /* Используем flexbox для размещения элементов рядом друг с другом */
    align-items: flex-start; /* Выравниваем по верхнему краю, если необходимо */
    justify-content: center; /* Центрируем контейнер, если нужно */
}

.ThemeAndColor {
    margin-right: 20px; /* Добавляем отступ справа для расстояния между блоками */
}

.SuveryWindow {
    /* Убедитесь, что ширина SurveyWindow установлена для правильного отображения */
    flex-grow: 1; /* Позволяем SurveyWindow занимать оставшееся пространство */
}

.cover {
    border-radius: 10px 10px 0 0; /* Закругляем только верхние углы */
}