.url-input {
    width: 50%;
    padding: 10px;
    margin-left: 25px;
    border: 1px solid #63707a;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.url-input::placeholder {
    color: #63707a;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.url-input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.url-input:hover {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
    background-color: rgba(38, 131, 243, 0.1);
}


.error-message {
    margin-left: 5px;
    color: red;
}
