.survey-content {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
}

.survey-page-title, .survey-page-buttons {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
}

.send-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0f428e;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;

    &:hover {
        background-color: #2b7bf3;
    }
}

.delete-button {
    @extend .send-button;
    background-color: #c0392b;
    border: 1px solid #a93226;
    margin-left: 15px;

    &:hover {
        background-color: #e74c3c;
    }
}

.survey-name {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
}

.warning-block {
    display: flex;
    color: red;
    font-size: 40px;
    align-items: center;
    height: 0;
    width: 0;
}

.header-img {
    border-radius: 20px;
}

.survey-page-container {
    border-radius: 20px;
}
