.survey-content {
    padding-left: 15%;
    padding-right: 15%;
}

.survey-page-title, .survey-page-buttons {
    white-space: normal; /* Позволяет переносить текст на новую строку */
    word-wrap: break-word; /* Переносит длинные слова, если они не помещаются */
    overflow-wrap: break-word; /* Добавляет дополнительный перенос слов при необходимости */
    width: 100%; /* Задает ширину элемента, можно настроить по необходимостям */
}

.send-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0f428e;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;

    &:hover {
        background-color: #2b7bf3;
    }
}

.delete-button {
    @extend .send-button;
    background-color: #c0392b;
    border: 1px solid #a93226;
    margin-left: 15px;

    &:hover {
        background-color: #e74c3c;
    }
}

.survey-name {
    white-space: normal; /* Позволяет переносить текст на новую строку */
    word-wrap: break-word; /* Переносит длинные слова, если они не помещаются */
    overflow-wrap: break-word; /* Добавляет дополнительный перенос слов при необходимости */
    width: 100%; /* Задает ширину элемента, можно настроить по необходимостям */
}

.warning-block {
    display: block;
    color: red;
    padding: 10px;
    margin: 10px;
    background-color: #fdfdfd;
    border: 1px solid black;
    border-radius: 10px;
}

.header-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}



.survey-page-container {
    width: 100vw;         /* Занимает 100% ширины видимой части окна */
    height: 100vh;       /* Занимает 100% высоты видимой части окна */
    box-sizing: border-box; /* Учитывает отступы и границы в ширине и высоте */
}
