.form-title-container {
    margin-bottom: 20px;
}

.form-title-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-title-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.theme-selector {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.theme-selector button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.theme-selector button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.theme-selector button.active {
    background-color: #0056b3;
    font-weight: bold;
}

.theme-selector button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.question-item {
    display: flex;
    margin-bottom: 15px;
}

.arrows {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    gap: 3px;
}

.arrows button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.question-item:hover .arrows button {
    opacity: 1;
    background: #a69e9e;
}

.arrows button img {
    filter: brightness(0%) invert(0%);
    transition: filter 0.3s;
}

.arrows button:hover img {
    filter: brightness(0%) invert(100%);
}

.arrows button:disabled img {
    filter: grayscale(100%);
    opacity: 0.5;
}

.arrows button:disabled:hover img {
    filter: grayscale(100%);
    cursor: not-allowed;
}

.add-question-button,
.save-survey-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px;
    margin-top: 10px;
}

.add-question-button:hover,
.save-survey-button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.save-survey-button {
    background-color: #007bff;
}

.save-survey-button:hover {
    background-color: #0056b3;
}


