.checkbox-label {
    display: flex;
    padding: 5px 0;
    font-size: 20px;
    cursor: pointer;
}

.custom-checkbox {
    opacity: 0;
}

.checkbox-value {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 50px;
    border-radius: 0;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.checkbox-value:hover {
    background: rgba(38, 131, 243, 0.1);
}

.checkbox-value::before {
    content: "";
    position: absolute;
    left: 15px;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    outline: 0 solid #1a0aa9;
    transition: 0.1s;
    border-radius: 0;
}

.custom-checkbox:checked~.checkbox-value {
    color: #10367e;
    border-width: 5px;
    background: rgba(14, 92, 195, 0.2);
    border-radius: 0;
}

.custom-checkbox:checked~.checkbox-value::before {
    outline-width: 5px;
    background: #fff;
    border-radius: 0;
}
